[Desktop Entry]
Version=1.0
Exec=twitch-bot
Icon=twitch-notificator
Terminal=false
Type=Application
Categories=Network;
Keywords=Notify;
Name=TwitchNotificator
Comment=Show notifications of twitch chat.
